@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: aliceblue;
}
/* Code For Navbar */
header {
    height: 100%;
    width: 100%;
}

nav {
    color: black;
    width: 100%;
    height: 10vh;
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
    position: fixed;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.logo h1 {
    font-size: 30px;
}

.list a {
    color: black;
    text-decoration: none;
    padding: 40px;
    font-size: 25px;
}
.main-container{
    width: 100%;
    height: 100%;
}
/* home container */
.main-container .home-container {
    background: linear-gradient(rgba(20,20,31,0.7), rgba(20,20,31,0.7)), url(/images/homepic.jpg);
    background-size: cover;
    border: 2px solid black;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* filter: brightness(80%); */
}
.main-container .home-container h1{
    color: aliceblue;
}
.main-container .home-container p{
    color: aliceblue;
}
/* service container */
.main-container .service-container{
    width: 100vw;
    height: 100vh;
    /* background-color: blue; */
} 
.main-container .service-container h1{
    color: black;
    text-align: center;
} 
.main-container .service-container .main-section{
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem ;

}
.main-container .service-container .main-section .section img{
    height: 30vh;
    width: 20vw;
}
.main-container .service-container .main-section .section h1{
    font-size: 1.5rem;
}
/* packages container */
.packages-container{
    width: 100%;
    height: 100vh;
    /* border: 2px solid black; */
}
.packages-container h1{
    color: black;
    text-align: center;
    margin-bottom: 20px;
}
.packages-container .section{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.packages-container .section .box{
    height: 30vh;
    width: 20vw;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column; 
}
.packages-container .section img, .packages-container .section .box .image{
    height: 30vh;
    width: 20vw;
}
.packages-container .section i{
    width: 50%;
    height: 50%;
    font-size: 1.5rem;
    display: inline;
    margin-top: 20px;
    color: rgb(215, 163, 66);
}
.packages-container .section h5{
    display: inline; 
}
.packages-container .section button{
    padding: 5px;
    width: 50%;
    background-color: black;
    color: aliceblue;
    font-weight: bold;
    font-size: 1rem;
}
.packages-container .section .button:hover{
    background-color: aliceblue;
    color: black;
    font-weight: bold;
    font-size: 1rem;
}
/* booking container */
.booking-container{
    border: 2px solid black;
    background: linear-gradient(rgba(20,20,31,0.7), rgba(20,20,31,0.7)), url(/images/beautiful-tropical-beach-sea.jpg);
    width: 100vw;
    height: 100vh;
    /* background-image: url(/images/beautiful-tropical-beach-sea.jpg); */
    background-size:cover;
    background-repeat:no-repeat;
    object-fit: cover;
    /* filter: brightness(60%); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: 1rem; */
}
.booking-container .section{
    /* background-image: url("/images/beach.jpeg"); */
    width: 80vw;
    /* height: 50vh; */
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(100%);
    /* display: flex; */
    justify-content: center;
    align-items: center;
    margin-left: 30rem;
}
.booking-container h1{
    color: aliceblue;
    text-align: center;
}
.booking-container .section input{
    width: 30%;
    height: 5vh;
    font-size: 1rem;
    margin: 0.35rem;
    border-radius: 2px;
    font-family: 'Poppins', sans-serif;
    background-color: transparent;
    border: 1px solid #ccc; 
    padding: 5px;
    color: aliceblue;
}
.booking-container .section textarea{
    width: 60%;
    /* height: 50%; */
    font-size: 1rem;
    margin: 0.35rem;
    border-radius: 2px;
    font-family: 'Poppins', sans-serif;
    resize: none;
    background-color: transparent;
    border: 1px solid #ccc; 
    padding: 5px;
    color: aliceblue;
}
.booking-container .section button{
    width: 15%;
    height: 8vh;
    font-size: 1.3rem;
    display: block;
    margin: 0.35rem;
    background-color: black;
    color: aliceblue;
    border-radius: 2px;
    font-weight: bold;  
    font-family: 'Poppins', sans-serif;
    background-color: transparent;
    border: 1px solid #ccc; 
    padding: 5px;
    color: rgb(120, 123, 123);
    margin-left: 18rem;
}
.booking-container .section button:hover{
    color: aliceblue;
    background-color: black;
    border: black;
}
/* contact-container */
.contact-container{
    margin-top: 2rem;
}
.contact-container .section{
    display: flex;
}
.contact-container h1{
    color: black;
    text-align: center;
}
.contact-container .section img{
    width: 100%;
    height: 65vh;
}
.contact-container .section .info{
    /* border: 2px solid black; */
    padding: 1rem;
    
}
.contact-container .section .info input{
    width: 45%;
    height: 10%;
    font-size: 1rem;
    margin: 0.35rem;
    border-radius: 2px;
    font-family: 'Poppins', sans-serif;
}
.contact-container .section .info textarea{
    width: 60%;
    /* height: 50%; */
    font-size: 1rem;
    margin: 0.35rem;
    border-radius: 2px;
    font-family: 'Poppins', sans-serif;
    resize: none;
}
.contact-container .section .info button{
    width: 20%;
    height: 15%;
    font-size: 1rem;
    display: block;
    margin: 0.35rem;
    background-color: black;
    color: aliceblue;
    border-radius: 2px;
    font-weight: bold;  
    font-family: 'Poppins', sans-serif;
}
.contact-container .section .info .button:hover{
    background-color: aliceblue;
    color: black;
    font-weight: bold;
}
/* footer */
footer{
    height: 20vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer i{
    margin: 1rem;
    color: white;
    font-size: 2rem;
}